{% extends "main/layout.html" %}
{% load static %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Контакты</h1><br>
        <p>Телефон: +99 xxx xxx xxx</p><br>
        <p>Почта: user@mail.com</p>
        <a href="mailto:tochenovm@gmail.com" target="_blank" class="mail">
            <img src="{% static 'main/img/gmail_logo.svg' %}" alt="gmail_logo">
        </a>
        <p>GitHub: github.com/mtochenov</p>
        <a href="https://github.com/mtochenov/" target="_blank" class="mail">
            <img src="{% static 'main/img/git_logo.svg' %}" alt="github_logo">
        </a>
    </div>
{% endblock %}
